In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("../data/interim/participant_5C_merged.csv")

In [5]:
data.head()

,timestamp,TEMP,HR,ACC_X,ACC_Y,ACC_Z,EDA,BVP
0,2020-04-14 17:50:26.000,31.99,NaN,-56.625,25.75,-5.750,0.000000,-0.003750
1,2020-04-14 17:50:26.250,31.99,NaN,-52.375,29.50,-20.250,0.155022,2.164375
2,2020-04-14 17:50:26.500,31.99,NaN,-47.375,19.75,-41.750,0.203707,11.654375
3,2020-04-14 17:50:26.750,31.99,NaN,-49.500,15.00,-36.875,0.347199,49.225000
4,2020-04-14 17:50:27.000,31.99,NaN,-36.625,17.75,-50.000,0.827640,160.436250

In [6]:
data.size

11450312

In [7]:
data.shape

(1431289, 8)